* {
	margin: 0;
	padding: 0;
}
.content {
	width: 100%;
	height: 759px;
	background-color: gray;
}
.content-under {
	width: 100%;
	height:100%;
}
.top-one {
	width: 100%;
	height: 3%;
	background-color: #6EC7EF;
}
.top-two {
	width: 100%;
	height: 9%;
	background-color: #F0C7C7;
}
.top-three {
	width: 100%;
	height: 3%;
	background-color: #D14417;
}
.content-center {
	width: 1080px;
	height: 500px;
	margin-left: 32px;
	border: solid 1px red;
}
.center-left {
	width: 15.5%;
	height: 100%;
	background-color: #AFA5A5;
}
.center-right {
	width: 921px;
	height: 500px;
	position: relative;
	left: 160px;
	top: -500px;
	
}
.topleft {
	width: 640px;
	height: 300px;
	position: relative;
	top: 16px;
	left: 14px;
	background-color: black;
}
.topright {
	width: 261px;
	height: 300px;
	position: relative;
	left: 660px;
    top: -284px;
	background-color: black;
}
.bottonleft {
	width: 640px;
	height: 180px;
	position: relative;
	left: 14px;
	top: -280px;
	background-color: black;
}
.bottonright {
	width: 261px;
	height: 180px;
	position: relative;
	left: 660px;
	top: -460px;
	background-color: black;
}

.right {
	width: 100%;
	height: 100%;
}
.right-topright {
	width: 25%;
	height: 26%;
	background-color: #9B3B3B;
	position: relative;
	left: 74%;
    top: -64%;
}
.right-bottonright {
	width: 25%;
	height: 55.2%;
	background-color: #9B3B3B;
	position: relative;
	left: 74%;
    top: -63%;
}

.right-bottonright .small {
	width: 24.47%;
	height: 25.3%;
	border: solid 1px #462F2F;
	background-color: #E71919;
	float: left;
}
.footer {
	width: 71.3%;
	height: 17.3%;
	background-color: #C4F062;
	position: relative;
	top: -33.5%;
	left: 2%;
}